# **Data Transformation**

## **Question 1A**

### **Solution**

In [2]:
import pandas as pd
import numpy as np
import sklearn.preprocessing as preprocessing

In [3]:
df_flights = pd.read_csv('./flights.csv')

In [4]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17048 entries, 0 to 17047
Data columns (total 17 columns):
Unnamed: 0    17048 non-null int64
year          17048 non-null int64
month         17048 non-null int64
day           17048 non-null int64
dep_time      17048 non-null float64
dep_delay     17048 non-null float64
arr_time      17048 non-null float64
arr_delay     17048 non-null float64
carrier       17048 non-null object
tailnum       17048 non-null object
flight        17048 non-null int64
origin        17048 non-null object
dest          17048 non-null object
air_time      17048 non-null float64
distance      17048 non-null int64
hour          17048 non-null float64
minute        17047 non-null float64
dtypes: float64(7), int64(6), object(4)
memory usage: 2.2+ MB

In [5]:
df_flights.head()

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,0,2014,1,1,1.0,96.0,235.0,70.0,AS,N508AS,145,PDX,ANC,194.0,1542,0.0,1.0
1,1,2014,1,1,4.0,-6.0,738.0,-23.0,US,N195UW,1830,SEA,CLT,252.0,2279,0.0,4.0
2,2,2014,1,1,8.0,13.0,548.0,-4.0,UA,N37422,1609,PDX,IAH,201.0,1825,0.0,8.0
3,3,2014,1,1,28.0,-2.0,800.0,-23.0,US,N547UW,466,PDX,CLT,251.0,2282,0.0,28.0
4,4,2014,1,1,34.0,44.0,325.0,43.0,AS,N762AS,121,SEA,ANC,201.0,1448,0.0,34.0

In [6]:
df_flights.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
df_flights.dtypes

year           int64
month          int64
day            int64
dep_time     float64
dep_delay    float64
arr_time     float64
arr_delay    float64
carrier       object
tailnum       object
flight         int64
origin        object
dest          object
air_time     float64
distance       int64
hour         float64
minute       float64
dtype: object

In [8]:
print(df_flights.carrier.unique().size)
print(df_flights.tailnum.unique().size)
print(df_flights.origin.unique().size)
print(df_flights.dest.unique().size)

11
2509
2
66

In [9]:
df_flights_label_encoding = df_flights.select_dtypes('object')
df_flights_label_encoding = df_flights_label_encoding.drop(['origin','carrier'], axis=1)

In [10]:
def number_encode_features(df):
    result = df.copy() # take a copy of the dataframe
    for column in result.columns:
        if result.dtypes[column] == np.object: # if attribute is categorical
            # Apply LabelEncoder method to attribute
            # fit will infer the number of numerical values needed by counting the number of categories
            # then transform will replace each category with its numerical counterpart
            result[column] = preprocessing.LabelEncoder().fit_transform(result[column])
    return result

label_encoded_data = number_encode_features(df_flights_label_encoding)
label_encoded_data.head()

   tailnum  dest
0     1108     1
1      117     9
2      476    25
3     1215     9
4     1904     1

In [11]:
df_flights_one_hot_encoding = df_flights[['origin','carrier']]
one_hot_encoded_data = pd.get_dummies(df_flights_one_hot_encoding)
one_hot_encoded_data.head()

,origin_PDX,origin_SEA,carrier_AA,carrier_AS,carrier_B6,carrier_DL,carrier_F9,carrier_HA,carrier_OO,carrier_UA,carrier_US,carrier_VX,carrier_WN
0,1,0,0,1,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,1,0,0
2,1,0,0,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,0,0,1,0,0
4,0,1,0,1,0,0,0,0,0,0,0,0,0

In [12]:
df_flights_numeric = df_flights.select_dtypes('number')
df_final = pd.concat([one_hot_encoded_data, label_encoded_data, df_flights_numeric], axis=1)
df_final.head()

,origin_PDX,origin_SEA,carrier_AA,carrier_AS,carrier_B6,carrier_DL,carrier_F9,carrier_HA,carrier_OO,carrier_UA,...,day,dep_time,dep_delay,arr_time,arr_delay,flight,air_time,distance,hour,minute
0,1,0,0,1,0,0,0,0,0,0,...,1,1.0,96.0,235.0,70.0,145,194.0,1542,0.0,1.0
1,0,1,0,0,0,0,0,0,0,0,...,1,4.0,-6.0,738.0,-23.0,1830,252.0,2279,0.0,4.0
2,1,0,0,0,0,0,0,0,0,1,...,1,8.0,13.0,548.0,-4.0,1609,201.0,1825,0.0,8.0
3,1,0,0,0,0,0,0,0,0,0,...,1,28.0,-2.0,800.0,-23.0,466,251.0,2282,0.0,28.0
4,0,1,0,1,0,0,0,0,0,0,...,1,34.0,44.0,325.0,43.0,121,201.0,1448,0.0,34.0

## **Question 1B**

**Justify your choice of encoding method for each attribute.**

### **One Possible Solution**

Encoding the tailnum and dest columns using label encoding not one hot encoding since they have so many unique values

## **Question 2**

Use the following dataset: https://raw.githubusercontent.com/TrainingByPackt/Data-Science-with-Python/master/Chapter01/Data/Student_bucketing.csv

Discretize the `marks` column using the following ranges:['Poor','Below_average','Average','Above_Average','Excellent']. Each range should contain 20 marks. Poor(0-20), Below_average(21-40) and so on till Excellent(80-100).

### **Solution**

In [13]:
df_students = pd.read_csv('https://raw.githubusercontent.com/TrainingByPackt/Data-Science-with-Python/master/Chapter01/Data/Student_bucketing.csv')

In [14]:
df_students.head()

   Student_id  Age      Grade Employed  marks
0           1   19  1st Class      yes     29
1           2   20  2nd Class       no     41
2           3   18  1st Class       no     57
3           4   21  2nd Class       no     29
4           5   19  1st Class       no     57

In [15]:
age_group2 = pd.cut(df_students.marks, [0,20,40,60,80,100],labels=['Poor','Below_average','Average','Above_Average','Excellent'])